
@{
    ViewBag.Title = "AdminIndexPage";
    if (Session["AdminID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

}

<h2>AdminIndexPage</h2>

<div>
    <h1>Welcome</h1>
</div>
<div>
    <a href="@Url.Action("Logout", "Home")">LogOut</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



