
@{
    ViewBag.Title = "UserIndexPage";
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

}

<h2>UserIndexPage</h2>

<div>
    <h1>Welcome</h1>
</div>
<div>
    <a href="@Url.Action("Logout", "Home")">LogOut</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



